# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

public\css
# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
todos.js
yarn.lock
src/lib/models/entries.js

# Strapi directory
strapi-node/
strapi/
yarn
.yarn
.env
src/app/sentry-example-page/page.jsx
src/app/api/sentry-example-api/route.js
src/testing/sockets.js
src/testing/message.js
src/testing/direct-chat.js
src/testing/chat.js
yarn.lock
new-registration.md
authentication_flow.md
src/testing
src/testing/schema-chat.json
src/testing/schema-freelancer.json
src/testing/schema-message.json
src/testing/schema-notification.json
src/testing/custom-auth.js
src/testing/lifecycles.js
yarn.lock
sentry.server.config.js
sentry.edge.config.js
sentry.client.config.js
README.md
public/images/about/cta-side-bg-3.html
public/css/ud-custom-spacing.css
public/css/style.css
public/css/slider.css
public/css/responsive.css
public/css/menu.css
public/css/magnific-popup.css
public/css/jquery-ui.min.css
public/css/googlemap.css
public/css/fontawesome.css
public/css/flaticon.css
public/css/bootstrap.min.css
public/css/bootstrap-select.min.css
public/css/animate.css
public/css/ace-responsive-menu.css
