{
  "jsc": {
    "target": "es2020",
    "parser": {
      "syntax": "typescript",
      "tsx": true
    },
    "transform": {
      "react": {
        "runtime": "automatic"
      }
    },
    "minify": {
      "compress": {
        "ecma": 2020
      },
      "mangle": {
        "safari10": false
      }
    }
  },
  "env": {
    "targets": {
      "chrome": "90",
      "edge": "90",
      "firefox": "88",
      "safari": "14"
    }
  },
  "minify": true
}